<div class="header">
  <img src="../../assets/header-img/map-header.jpg" style="width: 100%;">
  <div class="menu">

    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>

  </div>
  <div class="title">
    <h1>PUBMED-MAP</h1>
  </div>
  <div class="legend-img"><a href="http://www.freepik.com">Designed by natanaelginting / Freepik</a></div>
  <!-- <a href='https://fr.freepik.com/photos-vecteurs-libre/technologie'>Technologie vecteur créé par starline - fr.freepik.com</a> -->
  
 
</div>