<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/logo.png" height="70" width="150
      50" alt="Pubmed-Map">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
        <p class="lead">A great starter layout for a landing page</p>
      </div>
    </div>
  </div>
</header> -->

<!-- <div class="bg-img">
  <div class="container">
    <div class="topnav">
      <a href="#" class="navbar-brand">
        <img src="../../assets/img/logo_grey.png"  className="align-center" height="40" width="100" alt="Pubmed-Map"></a>
      <a class="active" routerLink="">Home</a>
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="userAccount">User Board</a>
      </li>
      <div class="navbar-nav ml-auto"></div>
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </div>
  </div>
</div> -->







<!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header"></div>
    
  </div>
</nav>

<div class="header"> -->
<!-- <img src="../../assets/header-img/map-header.jpg" style="width: 100%;"> -->



<div class="menu">

  <div *ngIf="info.token; else loggedOut">
    <h5 class="text-primary">Your Information</h5>
    <p>
      <strong>Username:</strong> {{info.username}}<br />
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}.
    </p>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
  </div>



  <!-- <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="userAccount">User Board</a>
      </li>
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul> -->
  <!-- <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul> -->

  <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pubmed-Map</a>
        </div>
        <ul class="nav navbar-nav navbar-right" routerLinkActive="active"> -->
  <!-- <li class="nav-item"><a class="nav-link" routerLink="app">Home</a></li> -->
  <!-- <li><a href="signup"><span class="fa fa-user-circle" aria-hidden="true"></span> Sign Up</a></li>
          <li *ngIf="authority === 'user'" class="nav-item">
            <a class="nav-link" routerLink="user">User Board</a>
          </li> -->
  <!-- <li *ngIf="authority === 'admin'" class="nav-item">
            <a class="nav-link" routerLink="admin">Admin Board</a>
          </li> -->
  <!-- <li><a href="auth/login"><span class="fa fa-sign-in" aria-hidden="true"></span> Login</a></li>
          <li *ngIf="!authority" class="nav-item"> -->
  <!-- <a class="nav-link" routerLink="auth/login">Login</a> -->
  <!-- </li>
        </ul>
      </div>
    </nav> -->

  <!-- </div>
  <div class="title">
    <h1>PUBMED-MAP</h1>
  </div>
  <div class="legend-img"><a href="http://www.freepik.com">Designed by natanaelginting / Freepik</a></div> -->
  <!-- <a href='https://fr.freepik.com/photos-vecteurs-libre/technologie'>Technologie vecteur créé par starline - fr.freepik.com</a> -->

  <ng-template #loggedOut>
    <!-- <a>Please login.</a> -->
  </ng-template>
  <!-- </div> -->