<div class="header">
  <img class="header-img" src="../../assets/header-img/map-header.jpg" style="width: 100%;">
  <div class="menu">

    <!-- <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul> -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pubmed-Map !!!</a>
        </div>
        <ul class="nav navbar-nav navbar-right" routerLinkActive="active">
          <!-- <li class="nav-item"><a class="nav-link" routerLink="app">Home</a></li> -->
          <li><a href="signup"><span class="fa fa-user-circle" aria-hidden="true"></span> Sign Up</a></li>
          <li *ngIf="authority === 'user'" class="nav-item">
            <a class="nav-link" routerLink="user">User Board</a>
          </li>
          <!-- <li *ngIf="authority === 'admin'" class="nav-item">
            <a class="nav-link" routerLink="admin">Admin Board</a>
          </li> -->
          <li><a href="auth/login"><span class="fa fa-sign-in" aria-hidden="true"></span> Login</a></li>
          <li *ngIf="!authority" class="nav-item">
            <!-- <a class="nav-link" routerLink="auth/login">Login</a> -->
          </li>
        </ul>
      </div>
    </nav>

  </div>
  <div class="title">
    <h1>PUBMED-MAP</h1>
  </div>
  <div class="legend-img"><a href="http://www.freepik.com">Designed by natanaelginting / Freepik</a></div>
  <!-- <a href='https://fr.freepik.com/photos-vecteurs-libre/technologie'>Technologie vecteur créé par starline - fr.freepik.com</a> -->


</div>