#footer {
    position: absolute;
    bottom: 0;
    background-color: grey;
    width: 100%;
    left: 0; right: 0;
    height: 50px;
    text-align: center;
    margin-top: 10px;
}

img {
    height: 30px;
}