<div class="page">

  <div *ngIf="isSignedUp; else signupForm">
    Your registration is successful. Please login!
  </div>

  <div class="signUpPage">
    <ng-template #signupForm>
      <div id="signupForm" class="row col-sm-6" style="max-width:350px;">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id=form-name class="form-control" name="name" [(ngModel)]="form.name" required placeholder="Name" /><br>
            <!-- <div *ngIf="form.name."  class="alert alert-danger">Name must start by a Uppercase</div>            -->
            <!-- <div *ngIf="f.submitted && name.invalid"> -->
            <!-- <div *ngIf="name.errors.required">Name is required</div> -->
            <!-- </div> -->
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" placeholder="UserName"
                required /><br>
              <!-- <div *ngIf="f.submitted && username.invalid"> -->
              <!-- <div *ngIf="username.errors.required">Username is required</div> -->
              <!-- </div> -->
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="form.email" pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+.[a-zA-Z.]{2,15}" #email="ngModel" required placeholder="Email"
              email /><br>
            <!-- <div *ngIf="f.submitted && email.invalid"> -->
            <!-- <div *ngIf="email.errors.required">Email is required</div> -->
            <!-- <div *ngIf="email.errors.email">Email must be a valid email address</div> -->
            <!-- </div> -->
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" placeholder="Password"
              required minlength="6" />
              <!-- <p style="font-size: smaller;">All fileds are required</p> -->
              <p style="font-size: smaller; color: cornsilk;">* Password must be at least 6 characters</p>
            <!-- <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div> -->
          </div>
          <div class="form-group">
            <a routerLink="/userAccount">
            <button class="btn" id=registerButton [disabled]="!f.valid" (click)="onSubmit()">Register</button></a>
            <a routerLink="/login">
            <button class="btn btn-secondary" >Cancel</button></a>
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
              Signup failed!<br />{{errorMessage}}
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>