.signUpPage {
    background-image: url("../../../../assets/img/3758.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto; 
// width:100%;
  }