<p>map works!</p>

<div id="mapid"></div>

<div class="card" id="articleDetails">
    <div class="card bg-light mb-3" style="width: 18rem;">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"> Add to favorite</span>
          </button>
        <div class="card-header border-secondary mb-3">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#article">Article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#abstract">Abstract</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active card-body" id="article">
                <!-- <h5 class="card-title"> {{ article.articleTitle }} </h5> -->
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go to pubmed</a>
                
                <div class="card-footer border-light mb-3">Footer</div>
            </div>
            <div class="tab-pane card-body" id="abstract">
                <h5 class="card-title">Card Title</h5>

            </div>
        </div>
    </div>
</div>