#mapid {
    height: 760px;
    width: 100%;
    align-content: center;
    // position:relative;
    z-index: 0;
}

#filterButton {
  text-align: center;
  opacity: 0.6;
  color: grey;
  background-color: white;
  border: solid grey;
  border-radius: 10px;
  padding: 5px;
}

#filterButton:hover {
  opacity: 1;
  border: solid royalblue;
}

#searchDiv {
  position: absolute;
  top: 100px;
  left: 30%;
  z-index: 1;
  opacity: .9;
}

#cardArticle {
    display:none; 
    position: absolute;
    z-index: 1;
    top: 230px;
    left: 40px;
    border-radius: 10px;
    padding-right: 10 px;
    padding-left: 10 px;
    width: 100%;
    opacity: .8;
}

#container {
    width: 30rem;
}

h6, h5{
    text-align: center;  
    margin: auto;
    color: royalblue;
}

#closeButton { 
    float: right; 
}

nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#272e38;
      border-radius:10px;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background: grey;
      border: radius 10px;;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color:royalblue ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 1.5;
      border: 1px solid #ddd;
      border-top:5px solid royalblue;
      border-bottom:5px solid royalblue;
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: royalblue;
      color:#fff;
      border: radius 10px;
      transition:background 0.20s linear;
  }

  textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 10px;
    border: 1px solid royalblue;
    box-shadow: 1px 1px 1px #999;
    font-size: .8rem;
    white-space: normal;
    text-align: justify;
    width: 100%;
    height: 200px;
}

textarea:focus { 
  outline: none !important;
  border-color: royalblue;
  box-shadow: 0 0 10px royalblue;
}

.btn {
  color:#FFF;
  background-color: royalblue !important;
  border-radius: 10px;
}

// .btn:hover {
//   color:#FFF;
//   background-color: royalblue !important;
//   border-color: grey;
//   border-width: thin;
// }

.btn:focus, .btn:active, .btn.active, .open .dropdown-toggle {
  background-color: royalblue; 
  color:#FFF;
}

.material-icons.royalblue { 
  color: royalblue; 
  border: none;
    outline:none;
}

#resetButton {
  color:#FFF;
  background-color: grey !important;
  display: flex;
  // border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#searchButton {
  color:#FFF;
  background-color:royalblue !important;
  display: flex;
  // border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#selectMenu {
  color:#FFF;
  background-color:royalblue !important;
  // border-radius: 10px;
  text-align-last: center;
}

#searchText {
  // border-radius: 10px;
  width: 350px;
}

#container {
  z-index: 1;
}

#div-search-box{
  display:flex;
  flex-direction:row;
  border:2.5px solid grey;
  border-radius: 10px;
}

