<div class="container-fluid">
  <app-header></app-header>
  <!-- <div id="welcome" class="text-center"> welcome to {{title}} </div> -->
  
  <!-- <app-map></app-map> -->
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

  <!-- ArticlesList -->
  <!-- <div class="ArticlesList">
  <h2>Articlesssss via Microservice</h2>
  <ol>
    <li *ngFor="let article of articles">{{article._id}} {{article.authorsList[0].lastName}}</li>
  </ol>
</div> -->


<!-- 
<router-outlet></router-outlet> -->